[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
minio = "*"
click = "*"
openpyxl = "*"
requests = "*"
attr = "*"
tqdm = "*"
psycopg2 = "*"
pyexcel = "*"
pyexcel-xls = "*"
pyexcel-xlsx = "*"

[requires]
python_version = "3.9"
